<h2>Port Authority Services</h2>
<div class="footer-columns">
  <div class="footer-col">
    <p class="content-header">Sarim Portmaster</p>
    <p class="fine-signature">Admiral Delta</p>
  </div>
  <div class="footer-col">
    <p class="footer-title">Port Authority</p>
    <ul class="footer-links">
      @for ( link of footerALinks; track footerALinks ) {
      <li><a href="{{ link.url }}">{{ link.label }}</a></li>
      }
    </ul>
  </div>
  <div class="footer-col">
    <p class="footer-title">Contact & Info</p>
    <ul class="footer-links">
      @for ( link of footerBLinks; track footerBLinks ) {
        <li><a href="{{ link.url }}">{{ link.label }}</a></li>
      }
    </ul>
  </div>
</div>
